<div class="page-wrapper">
    <div class="content container-fluid">
        <div [hidden]="showEstudiantes">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Profesores</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Cursos</a></li>
                            <li class="breadcrumb-item active">Profesores</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div *ngFor="let item of datosResultado.salida">
                <br>
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-view">
                                    <div class="profile-img-wrap">
                                        <div class="profile-img">
                                            <a><img alt="" src="assets/img/profiles/avatar-02.jpg"></a>
                                        </div>
                                    </div>
                                    <div class="profile-basic">
                                        <br>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="profile-info-left">
                                                    <h6 class="text-muted">Nombre profesor</h6>
                                                    <h3 class="user-name m-t-0 mb-0">{{ item.nombreProfesor }}</h3>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <br>
                                                <ul class="personal-info"
                                                    *ngFor="let itemAsignaturas of item.listaAsignaturas">
                                                    <li>
                                                        <div class="title">Nombre asginatura:</div>
                                                        <div class="text"><a href="">{{ itemAsignaturas.nombreAsignatura
                                                                }}</a></div>
                                                        <div class="title">Cursos:</div><br>
                                                        <div class="text"
                                                            *ngFor="let itemCurso of itemAsignaturas.datosCursosOut">
                                                            <div class="profile-info-left">
                                                                <a (click)="showEstudiantes(itemCurso)">{{
                                                                    itemCurso.nombreCurso
                                                                    }}</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <button class="btn btn-outline-warning"
                                                        (click)="detalleEstudiantes(itemAsignaturas, item.nombreProfesor)">Ver
                                                        estudiantes</button>
                                                    <hr>
                                                </ul>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [hidden]="!showEstudiantes">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Asignatura: {{ datosEstudiantes.nombreAsignatura }}</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a>Profesor: {{ nombreProfesor }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6" *ngFor="let itemCurso of datosEstudiantes.datosCursosOut">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Curso {{ itemCurso.nombreCurso }}</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>Nombre estudiante</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let itemEstudiantes of itemCurso.listaEstudiante">
                                            <td>{{ itemEstudiantes.nombreEstudiante }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-outline-warning"
                (click)="regresar()">Regresar</button>
        </div>
    </div>
</div>