<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">{{ resultadoConsulta.nombreColegio }}</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">Bienvenido</li>
                    </ul>
                </div>
            </div>
        </div>

        <div [hidden]="!showMensajeError">
            <h4>No se encontraron datosq.</h4>
        </div>
        <div [hidden]="showMensajeError">
            <div class="container">
                <div class="row">
                    <div class="col" *ngFor="let item of resultadoConsulta.listaCursos">
                        <div class="card dash-widget">
                            <div class="card-body">
                                <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
                                <div class="dash-widget-info">
                                    <h3>{{ item.nombreCurso }}</h3>
                                    <button class="btn btn-outline-warning" (click)="consultarDetalle(item.idCurso)"><i
                                            class="la la-crosshairs"></i>Detalle</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div [hidden]="showDetalle">
                    <div class="card card-table flex-fill">
                        <div class="card-header">
                            <h3 class="card-title mb-0">Cruso {{ datosDetalle.nombreCurso }}</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-nowrap custom-table mb-0">
                                    <thead>
                                        <tr class="table-warning">
                                            <th>Asignatura</th>
                                            <th>Profesor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of datosDetalle.listaDatosAsignaturaOut">
                                            <td><a>{{ item.nombreAsignatura }}</a></td>
                                            <td>
                                                <h2><a>{{ item.datosProfesor.nombreProfesor }}</a></h2>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>